// Colors
$light-gray: #E5E5E5;
$medium-gray: #CBCBCB;
$dark-gray: #B2B2B2;
$darker-gray: #989898;
$darkest-gray: #4D4D4D;
$primary-text: #808080;

$gray-title: #75797C;
$gray-text: #575656;

// Spacing
$spacer: 30px;
$gutter: 15px;


// Breakpoints
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;