@import 'variables';

* {
  font-family: 'Montserrat', sans-serif;
}

// Bootstrap Overrides
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-toggler-icon {
  background-image: url('/assets/img/menu-icon.svg') !important;
  width: 40px;
  height: 20px;
}

// Defaults
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
  color: $primary-text;
}

section {
  position: relative;
  padding: 30px;
}

.nav {

  &__white {
    background-color: white;
    padding: 40px;
  }

  &__mobile {
    border-color: transparent !important;
    background-color: transparent;
    border: 0;
    display: none;

    @media (max-width: 990px) {
      display: block;
    }
  }

  &-item {
    &--github {
      img {
        width: 30px;
      }
    }
  }

  &-link {
    font-size: 12px;
    text-transform: uppercase;
  }
}

.half {
  width: 50%;
  max-width: 400px;

  &:first-of-type {
    margin-right: 100px;
  }

  @media (max-width: $md) {
    width: 100%;
    max-width: initial;
  }
}

.phone {
  position: relative;
  bottom: -70px;

  &__image {
    width: 200px;
    z-index: 1;

    @media (max-width: 700px) {
      width: unset;
    }

    img {
      width: 100%;
    }
  }
}

.cta {
  background-color: white;
  padding-left: 140px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  &__globe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    @media (max-width: 700px) {
      top: 300px;
      left: -100px;
    }
  }

  &__poly {
    position: absolute;
    top: 38px;
    right: 10%;
    bottom: 0;
    left: 17px;
    z-index: -1;

    @media (max-width: 700px) {
      top: 300px;
      left: -100px;
    }
  }

  @media (max-width: $md) {
    padding: $gutter;
  }

  &__headline {
    color: $gray-title;
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: $spacer;
  }

  &__text {
    color: $gray-text;
    font-size: 14px;
    margin-bottom: $spacer;
    width: 85%;
    font-weight: 300;
  }

  &__btn {
    color: white;
    padding: 10px 25px;
    background-color: $gray-text;
    text-transform: uppercase;
    // text-align: center;
    max-width: 200px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;

    @media (max-width: $md) {
      margin: 0 auto;
    }
  }
}

.info {
  background-color: transparent;
  padding-top: 200px;
  padding-right: 100px;
  position: relative;
  z-index: 0;

  &__overlay {
    position: absolute;
    top: 290px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;

    img {
      width: 100%;

      @media (max-width: 770px) {
        height: 100%;
        width: unset;
      }
    }
  }

  &__wrapper {
    max-width: 500px;
    margin-top: 130px;
  }

  &__box {
    max-width: 250px;
  }

  &__headline {
    color: $gray-text;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: $gutter;
  }

  &__text {
    color: $gray-text;
    font-size: 14px;
    margin-bottom: $gutter;
  }

  &__cta {
    color: $medium-gray;
    text-transform: uppercase;
  }
}

.features {
  background-color: white;
  padding-top: 25px;
  position: relative;

  &__bar {
    position: absolute;
    height: 135px;
    background-color: rgba(#ACCCE1, .5);
    top: 0;
    left: 0;
    right: 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    width: 100%;
  }

  &__wrapper {
    max-width: 250px;

    @media (max-width: $md) {
      margin: 0 auto;
      margin-bottom: 100px;
    }
  }

  &__headline {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: $gutter;
    margin-top: $spacer;
  }

  &__text {
    color: $gray-text;
    font-size: 14px;
    margin-bottom: $gutter;
    text-align: center;
  }
}

.download {
  background-color: $medium-gray;
  background-image: url('/assets/img/footer.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  &__wrapper {
    margin: 50px auto;

    @media (max-width: $md) {
      margin: 0px auto;
      margin-bottom: 10px;
    }
  }

  &__btn {
    width: 150px;
    background-color: $darker-gray;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 0;
    margin: 0 25px;
    margin-bottom: 15px;
    cursor: pointer;

    @media (max-width: 300px) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.footer {
  background-color: transparent; //$darkest-gray;
  padding: 15px $spacer;
  // padding-bottom: 35px;

  &__logo {
    width: 300px;

    @media (max-width: $md) {
      margin: 0 auto;
      margin-bottom: 15px;
      width: 220px;
    }

    img {
      width: 100%;
      @media (max-width: $md) {
        width: 300px;
      }
    }
  }

  &__social {
    width: 150px;

    @media (max-width: $md) {
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: $md) {
      margin-bottom: 15px;
    }
  }

  &__link {
    font-size: 14px;

    a {
      color: $primary-text;
    }

    &:not(:last-of-type) {
      margin-right: $spacer;
    }
  }
}

.fa {
  color: white;
}
