* {
  font-family: 'Montserrat', sans-serif; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem; }

.navbar-toggler-icon {
  background-image: url("/assets/img/menu-icon.svg") !important;
  width: 40px;
  height: 20px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #808080; }

section {
  position: relative;
  padding: 30px; }

.nav__white {
  background-color: white;
  padding: 40px; }

.nav__mobile {
  border-color: transparent !important;
  background-color: transparent;
  border: 0;
  display: none; }
  @media (max-width: 990px) {
    .nav__mobile {
      display: block; } }

.nav-item--github img {
  width: 30px; }

.nav-link {
  font-size: 12px;
  text-transform: uppercase; }

.half {
  width: 50%;
  max-width: 400px; }
  .half:first-of-type {
    margin-right: 100px; }
  @media (max-width: 768px) {
    .half {
      width: 100%;
      max-width: initial; } }

.phone {
  position: relative;
  bottom: -70px; }
  .phone__image {
    width: 200px;
    z-index: 1; }
    @media (max-width: 700px) {
      .phone__image {
        width: unset; } }
    .phone__image img {
      width: 100%; }

.cta {
  background-color: white;
  padding-left: 140px;
  position: relative;
  z-index: 0;
  overflow: hidden; }
  .cta__globe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
    @media (max-width: 700px) {
      .cta__globe {
        top: 300px;
        left: -100px; } }
  .cta__poly {
    position: absolute;
    top: 38px;
    right: 10%;
    bottom: 0;
    left: 17px;
    z-index: -1; }
    @media (max-width: 700px) {
      .cta__poly {
        top: 300px;
        left: -100px; } }
  @media (max-width: 768px) {
    .cta {
      padding: 15px; } }
  .cta__headline {
    color: #75797C;
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
    margin-bottom: 30px; }
  .cta__text {
    color: #575656;
    font-size: 14px;
    margin-bottom: 30px;
    width: 85%;
    font-weight: 300; }
  .cta__btn {
    color: white;
    padding: 10px 25px;
    background-color: #575656;
    text-transform: uppercase;
    max-width: 200px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px; }
    @media (max-width: 768px) {
      .cta__btn {
        margin: 0 auto; } }

.info {
  background-color: transparent;
  padding-top: 200px;
  padding-right: 100px;
  position: relative;
  z-index: 0; }
  .info__overlay {
    position: absolute;
    top: 290px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden; }
    .info__overlay img {
      width: 100%; }
      @media (max-width: 770px) {
        .info__overlay img {
          height: 100%;
          width: unset; } }
  .info__wrapper {
    max-width: 500px;
    margin-top: 130px; }
  .info__box {
    max-width: 250px; }
  .info__headline {
    color: #575656;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px; }
  .info__text {
    color: #575656;
    font-size: 14px;
    margin-bottom: 15px; }
  .info__cta {
    color: #CBCBCB;
    text-transform: uppercase; }

.features {
  background-color: white;
  padding-top: 25px;
  position: relative; }
  .features__bar {
    position: absolute;
    height: 135px;
    background-color: rgba(172, 204, 225, 0.5);
    top: 0;
    left: 0;
    right: 0; }
  .features__title {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    width: 100%; }
  .features__wrapper {
    max-width: 250px; }
    @media (max-width: 768px) {
      .features__wrapper {
        margin: 0 auto;
        margin-bottom: 100px; } }
  .features__headline {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 30px; }
  .features__text {
    color: #575656;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center; }

.download {
  background-color: #CBCBCB;
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .download__title {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px; }
  .download__wrapper {
    margin: 50px auto; }
    @media (max-width: 768px) {
      .download__wrapper {
        margin: 0px auto;
        margin-bottom: 10px; } }
  .download__btn {
    width: 150px;
    background-color: #989898;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 0;
    margin: 0 25px;
    margin-bottom: 15px;
    cursor: pointer; }
    @media (max-width: 300px) {
      .download__btn {
        margin-left: 0;
        margin-right: 0; } }

.footer {
  background-color: transparent;
  padding: 15px 30px; }
  .footer__logo {
    max-width: 300px; }
    @media (max-width: 768px) {
      .footer__logo {
        margin: 0 auto;
        margin-bottom: 15px; } }
    .footer__logo img {
      width: 100%; }
  .footer__social {
    width: 150px; }
    @media (max-width: 768px) {
      .footer__social {
        margin: 0 auto;
        margin-bottom: 15px;
        margin-top: 30px; } }
    .footer__social > * {
      cursor: pointer; }
  .footer__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (max-width: 768px) {
      .footer__list {
        margin-bottom: 15px; } }
  .footer__link {
    font-size: 14px; }
    .footer__link a {
      color: #808080; }
    .footer__link:not(:last-of-type) {
      margin-right: 30px; }

.fa {
  color: white; }
